.env
.env.local
.next
.next-dev
.next-build
.next-build.__new
.next-build.__old
.next-build-failed
.next-build.archive-*
.next-build-prev
.next-build-prev.archive-*
.next.__verify
node_modules
storage
artifacts
server.log
debug.png
failure.png
overtype_patched.cjs
npm-debug.log*
